#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
h1 {
  font-family: 'Pacifico', cursive;
}
.beach-card {
  font-family: Poppins, sans-serif;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
}

.beach-card h3{
  text-align: center;
  margin-top: 1rem;
}
.beach-card .activities-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-form {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.button-container{
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 auto;
}